body {
    margin: 10px;
}

.container {
	margin: 0 auto;
	padding: 20px;
	max-width: 960px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	border-radius: 5px;
    margin-top: 5%;
}

h1 {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 28px;
	color: #333;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

th, td {
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid #ccc;
}

th {
	background-color: darkblue;
	color: #fff;
	font-weight: normal;
    text-align: center;
}

td:last-child {
	text-align: center;
}

.admin_button {
	background-color: darkblue;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
}

.admin_link {
    text-decoration: none;
    color: black;
    vertical-align: center;
    margin-right: 5px;
}

.edit_text {
    vertical-align: middle;
}

.edit_text:hover {
    text-decoration: underline;
    color: #131313;
}

.admin_button:hover {
	background-color: #005ea8;
}

.form-group {
	margin-bottom: 20px;
}

.admin_label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

.admin_input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
    
li {
    margin-bottom: 10px;
}
    
.label-success {
    display: inline-block;
    padding: 5px 10px;
    background-color: #5cb85c;
    color: #fff;
    border-radius: 5px;
}
    
.label-danger {
    display: inline-block;
    padding: 5px 10px;
    background-color: #d9534f;
    color: #fff;
    border-radius: 5px;
}

.center-text {
    text-align: center;
    display: block;
}
