nav {
    margin: -10px;
}

.searchbar {
    border: 1px solid lightgray;
    border-radius: 5px 0 0 5px;
    margin-right: 0;
    background-color: lightgray;
    width: 500px;
}

.topbar {
    padding: 5px;
    background-color: darkblue;
    display: flex;
    flex-direction: flex;
    justify-content: center;
    align-items: center;
}

.cat_bar {
    background-color: #ffcf5c;
    margin: 5px;
    border-radius: 5px;
    padding: 7px;
}

.cat_bar a {
    color: black;
    text-decoration: none;
    width: 10px;
    margin-right: 10px;
}

.cat_bar a:hover {
    color: #333;
    text-decoration: underline;
}

.submitsearch {
    margin-left: 0;
    background-color: #ffcf5c;
    border: 1px solid transparent;
    border-radius: 0 5px 5px 0;
}

.submitsearch:hover {
    transition: 0.2s;
    background-color: #eebb42;
}

.sel_cat {
    background-color: #ffcf5c;
    border: 1px solid transparent;
    border-radius: 5px 5px 5px 5px;
    margin-right: 5px;

}

.sel_cat:hover {
    transition: 0.2s;
    background-color: #eebb42;
}

.logo {
    color: white;
    text-decoration: none;
}

.form_bar {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.bar_elt {
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    text-decoration: none;
}

.bar_elt:hover {
    text-decoration: underline;
    color: lightgray;
}

.material-icons {
  vertical-align: middle !important;
  padding-bottom: 3px;
  margin-right: 4px;
  font-size: 1.3em;
}
