body {
    margin: 10px;
}

.nom-colonnes {
    background-color: lightgray;
    border: none;
}

td {
    border: none;
    margin: 0;
}

.valign {
    vertical-align: middle;
}

.cart-tab {
    border: none;
    margin: 0 auto;
    border-spacing:0;
    border-collapse: collapse;
}

.continue {
    margin-left: 5%;
    color: black;
    text-decoration: none;
}

.continue:hover {
    color: #131313;
    text-decoration: underline;
}

.info-text {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.text-center {
    text-align: center;
}

.trash-link {
    color: black;
    text-decoration: none;
}

.trash-link:hover {
    transition: 0.2s;
    color: darkgray;
}

.tab-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 2%;
}

.erreur_span {
    color: red;
    text-align: center;
}

.ok_span {
    color: green;
    text-align: center;
}

.plus_moins {
    color: black;
    text-decoration: none;
    font-weight: bold;
    vertical-align: middle;
}

.plus_moins:hover {
    transition: 0.2s;
    color: darkgray;
}

.command_button {
    margin-top: 15px;
    padding: 5px;
    background-color: darkblue;
    border: none;
    color: white;
    border-radius: 5px;
}

.command_button:hover {
    transition: 0.2s;
    background-color: #000044;
}

.dispo {
    color: green;
}

.indispo {
    color: red;
}
