body {
    margin: 10px;
}

.ranger {
    align-items: center;
    margin-left: 10px;
    width: 200px;
}

.under-img {
    text-align: center;
    height: 20%;
}

.see-more {
    color: black;
    text-decoration: none;
}

.see-more:hover {
    text-decoration: underline;
}

.prod_img {
    object-fit: cover;
    height: 100px;
    width: 100px;
}

.erreur_span {
    color: red;
}

.ok_span {
    color: green;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.article-name {
    height: 75%;
    overflow: hidden;
}
