body {
    margin: 10px;
}

.ranger {
    display: inline-block;
    align-items: center;
    margin-left: 10px;
}

.button {
    background-color: darkblue;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 1.2em;
    cursor: pointer;
    text-decoration: none;
}

.under-img {
    text-align: center;
}

.see-more {
    color: black;
    text-decoration: none;
}

.see-more:hover {
    text-decoration: underline;
}

.prod_img {
    object-fit: cover;
}
