h1 {
    text-align: center;
}

.article p.meta {
  font-style: italic;
  color: #888;
}
  
.article p.meta time {
  font-style: normal;
  }
  
  /* Scale Image*/
.article img {
  margin-bottom: 20px;
  object-fit: contain;
  width: 500px;
  height: 500px;
  margin-left: 10px;
}
  
  /* listes t'es erreurs */
.article ul {
  margin-bottom: 20px;
}
  
  /* tableau/détails du produit*/
.article table {
  border-collapse: collapse;
  margin-bottom: 20px;
}
  
  
.article td {
  padding: 5px;
  border: 1px solid #ddd;
}
  
  /* Prix et bouton d'ajout panier*/
.article p strong {
  color: darkblue;
  font-size: 1.5em;
  display: inline-block;
}
  
  /*button */
.article a {
  background-color: darkblue;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 1.2em;
  cursor: pointer;
  text-decoration: none;

}
  
.article a:hover {
  background-color: rgb(1, 1, 114);
}

.article {
    display: flex;
    margin-top: 5%;
}

.description {
    width: 70%;
}
  
.div-second {
    margin-left: 10px;
}

  /* Footer */
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  background-color: #eee;
  text-align: center;
  font-size: 0.8em;
  color: #888;
  padding: 20px;
}
