body {
    font-family: Ubuntu, serif;
    padding: 0;
    margin: 0;
}


.bienvenue {
    margin-top: 5%;
    margin-bottom: 3%;
    margin-right: 30%;
}

.cat_img {
    width: 200px;
    height: 200px;

}

.categories_index {
    position: relative;
    display: flex;
    margin-right: 20%;
}

.bottom-left {
    position: absolute;
    bottom: 10px;
    left: 15px;
}

.cat_content {
    position: relative;
    margin-right: 1%;
}
