body {
    margin: 10px;
}

h1 {
    text-align: center;
}

  /* Scale Image*/
.article img {
    margin-bottom: 20px;
    object-fit: cover;
    width: 500px;
    height: 500px;
    margin-left: 10px;
}
  
  /* Prix et bouton d'ajout panier*/
.article p strong {
    color: darkblue;
    font-size: 1.5em;
    display: inline-block;
}
  
  /*button */
.article .submit_article {
    background-color: darkblue;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 1.2em;
    cursor: pointer;
    text-decoration: none;
    margin-top: 5px;

}
  
.article {
    display: flex;
    margin-top: 5%;
}

.description {
    width: 70%;
}
  
.div-second {
    margin-left: 10px;
}

  /* Footer */
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #eee;
    text-align: center;
    font-size: 0.8em;
    color: #888;
    padding: 20px;
}

.erreur_span {
    color: red;
}

.ok_span {
    color: green;
}
