body {
    margin: 10px;
}

.bienvenue {
    margin-top: 5%;
    margin-bottom: 3%;
    margin-right: 30%;
    margin-left: 10%;
}

.cat_img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.categories_index {
    position: relative;
    display: flex;
    margin-right: 20%;
}

.bottom-left {
    position: absolute;
    bottom: 10px;
    left: 15px;
    color: white;
}

.cat_content {
    position: relative;
    margin-right: 1%;
}
